@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link {
    color: inherit; /* no blue default link color */ 
}

a:focus-visible {
    outline-style: solid; 
    outline-color: rgb(24, 24, 148);
    border-radius: inherit;
}

body {
    background-color: #F4D04E;
    font-family: 'figtree', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: left;
    min-height: 100svh;
    gap: 2rem; /* what is this doing? */ 
    font-size: 1.4vw; /* using vw instead of rem as a way to responsively have text adjust without m. queries */ 
}

section {
    height: auto; 
    max-width: 22rem; 
    background-color: #FFFFFF;
    border: solid;
    border-width: 1px;
    border-radius: 16px;
    box-shadow: 10px 10px #000000;
    padding: 16px;
}

.illustration {
    display: block; 
    height: auto; 
    max-width: 100%;
    border-radius: 16px;
}


p {
    color: rgb(107 107 107);
    padding: 0px;
    margin: 10px 0 10px 0;
    line-height: 150%;
}

.author-profile {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 10%;
}

h2:hover {
    color: #F4D04E;
    cursor: pointer;
}

h3 {
    font-size: 0.9rem;
    padding: 10px 5px 10px 5px;
    margin: 10px 10px;
    font-size: 1.4vw;
}

h3:hover {
    color: #F4D04E;
    cursor: pointer;
}

h4 {
    font-weight: normal;
    margin: 10px 0 10px 0;
    font-size: 1.4vw;
}

h5 {
    display: inline-block;
    background-color: #F4D04E;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 20px 0 10px 0;
}

h5:hover {
    cursor: pointer; 
    background-color: #000000;
    color: #F4D04E;
}

footer {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 20px;
}