

/* add CSS reset */ 

<style>
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');
</style>

body {
    background-color: #F4D04E;
    font-family: 'figtree', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section {
    height: auto; 
    max-width: 100%; 
}

footer {
    display: flex; 
}